@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,100)
@import variables
@import ../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss
@import ../bower_components/font-awesome/scss/font-awesome.scss

$green-bg: #9FC739

body
    padding: 80px 0 0
    background: #2D2D2D

.container
    width: 1170px !important

.slide
    height: 600px
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4)
    border-radius: 3px
    margin-bottom: 80px
    overflow: hidden

.one
    background: $green-bg url(../images/pattern1.jpg) repeat
    text-align: center
    padding: 25px 0
    .circle
        width: 550px
        height: 550px
        background: white
        border-radius: 550px
        margin: 0 auto
        border: solid 20px #C3EA49
        margin-bottom: -630px
    h1
        img
            width: 450px
            margin-top: 100px
            margin-bottom: 20px
    h2
        background: url(../images/one-ribbon.png) no-repeat center
        background-size: contain
        width: auto
        height: 135px
        color: white
        margin: 0 auto
        font-size: 4em
        padding: 10px 0
    h3
        color: #aaa
        font-size: 4em
    span
        background: url(../images/one-border.png) no-repeat center
        width: 470px
        height: 60px
        display: block
        margin: -40px auto 40px
        font-size: 2.5em
        font-weight: bold
        color: #4E4D4E

.two
    background: #111420 url(../images/two-bg.jpg) no-repeat center
    background-size: contain
    padding: 50px 0
    color: #fff
    text-align: center
    position: relative
    h2
        margin-top: 40px
        font-size: 3em
    .logo
        position: absolute
    .menulog
        top: 80px
        left: 30px
    .justeat
        top: 220px
        right: 50px
    .eatnow
        top: 400px
        left: 50px

.three
    background: $green-bg
    overflow: hidden
    position: relative
    .circle
        background: white url(../images/pattern2.png) no-repeat center
        border: solid 20px #C3EA49
        width: 1100px
        height: 1100px
        border-radius: 1100px
        margin-top: -250px
        margin-left: 15px
    .head
        margin-top: -830px
    .bubble
        background: #c2d950
        color: #4E4D4E
        position: absolute
        text-align: center
        font-size: 1.3em
        padding: 20px
        border-radius: 10px
    .bubble-one
        width: 200px
        top: 110px
        left: 80px
    .bubble-two
        width: 320px
        top: 220px
        left: 300px
    .bubble-three
        width: 330px
        right: 300px
        top: 350px
    .bubble-four
        width: 300px
        right: 80px
        top: 190px
    .foot
        img
            width: 950px
            margin-top: 40px

.four
    background: #ED3035
    overflow: hidden
    position: relative
    .circle
        background: white url(../images/pattern2.png) no-repeat center
        border: solid 20px #FF6E79
        width: 1100px
        height: 1100px
        border-radius: 1100px
        margin-top: -250px
        margin-left: 15px
    .head
        margin-top: -1080px
    .bubble
        background: #ed3336
        color: white
        position: absolute
        text-align: center
        font-size: 1.3em
        padding: 20px
        border-radius: 10px
    .bubble-one
        width: 250px
        top: 120px
        left: 80px
    .bubble-two
        width: 300px
        top: 260px
        left: 200px
    .bubble-three
        width: 300px
        right: 200px
        top: 280px
    .bubble-four
        width: 275px
        right: 90px
        top: 110px
    .foot
        img
            width: 950px
            margin-top: 300px

.five
    background: #ED3035
    overflow: hidden
    position: relative
    .circle
        background: white url(../images/pattern2.png) no-repeat center
        border: solid 20px #FF6E79
        width: 1100px
        height: 1100px
        border-radius: 1100px
        margin-top: -250px
        margin-left: 15px
    .head
        margin-top: -800px
    .bubble
        background: #e01f26
        color: white
        position: absolute
        text-align: center
        font-size: 1.3em
        padding: 20px
        border-radius: 10px
    .bubble-one
        width: 230px
        top: 300px
        left: 150px
    .bubble-two
        width: 350px
        top: 170px
        left: 400px
    .bubble-three
        width: 240px
        right: 140px
        top: 310px
    .foot
        img
            width: 900px
            margin-top: 80px

.six
    background: $green-bg
    overflow: hidden
    position: relative
    text-align: center
    .circle
        background: white
        border: solid 20px #C3EA49
        width: 1100px
        height: 1100px
        border-radius: 1100px
        margin-top: -250px
        margin-left: 15px
    .head
        margin-top: -820px
        h2
            background: url(../images/six-ribbon.png) no-repeat center
            background-size: contain
            height: 90px
            color: white
            font-size: 2.3em
            padding: 35px 0
    img
        margin: 20px

.seven
    background: url(../images/pattern3.jpg) no-repeat center
    background-size: cover
    padding-top: 60px
    padding-left: 40px
    h2
        margin: 40px 0 100px
    h3
        color: white
        font-size: 2.5em
    div
        & > img
            width: 700px
            margin-top: -80px
            margin-left: 40px

.eight
    background: url(../images/pattern3.jpg) no-repeat center
    background-size: cover
    padding-top: 60px
    position: relative
    h2
        margin: 20px 40px
    p
        color: white
        font-size: 3em
        position: absolute
        z-index: 1
        text-align: center
    .top-text
        width: 500px
        top: 250px
        left: 50px
    .bottom-text
        width: 500px
        top: 355px
        left: 120px
    .ribbon
        position: absolute
        top: 240px
        left: 40px
        width: 600px
    .machine
        position: absolute
        z-index: 2
        left: 450px
        width: 450px
        bottom: 20px
    .receipt
        position: absolute
        right: 20px
        top: 20px
        height: 560px

.nine,
.twelve,
.seventeen,
.twenty,
.twentyTwo,
.twentyFour,
.twentySix,
.twentyNine
    background: url(../images/pattern4.jpg) no-repeat center
    background-size: cover
    position: relative
    padding-top: 220px
    .cloud
        position: absolute
        top: 0
        left: 0
    .logo
        position: absolute
        bottom: 40px
        left: 40px
    h1
        text-align: center
        color: white
        font-size: 5em
        //margin-top: 250px

.ten,
.eleven,
.thirteen,
.fourteen,
.fifteen,
.sixteen,
.eighteen,
.nineteen,
.twentyOne,
.twentyThree,
.twentyFive,
.twentySeven,
.twentyEight,
.thirty,
.thirtyOne,
.thirtyTwo
    background: white
    padding: 20px 40px
    position: relative
    h1
        color: #FF0000
        font-size: 4em
    img
        margin: 10px 80px 0 0
    .justeat
        position: absolute
        bottom: 40px
        left: 40px
    hr
        border-color: #FF0000
        width: 75%
        right: 0
        bottom: 50px
        position: absolute

//.eleven merged with .ten

//.twelve merged with .nine

//.thirteen merged with .ten

//.fourteen merged with .ten

//.fifteen merged with .ten

//.sixteen merged with .ten

//.seventeen merged with .nine

//.eighteen merged with .ten

//.nineteen merged with .ten

//.twenty merged with .nine

.twentyOne
    ul
        list-style-type: none
        margin: 0
        padding: 0
        li
            display: inline-block
    .date
        margin-bottom: 20px
        li
            text-align: center
            strong
                display: block
                font-size: 1.5em
            &:nth-child(1)
                width: 100px
            &:nth-child(2)
                width: 200px
            &:nth-child(3)
                width: 100px
            &:nth-child(4)
                width: 250px
            &:nth-child(5)
                width: 200px
            &:nth-child(6)
                width: 230px
    .description
        margin-top: -200px
        margin-bottom: 90px
        li
            font-size: 1.5em
            font-weight: bold
            vertical-align: top
            small
                display: block
                font-weight: 400
                font-size: 0.6em
            &:nth-child(1)
                width: 150px
                padding-top: 130px
                a
                    color: #981b1e
            &:nth-child(2)
                width: 150px
                a
                    color: #bd912d
            &:nth-child(3)
                width: 150px
                padding-top: 120px
                a
                    color: #0a5494
            &:nth-child(4)
                width: 150px
                margin-right: 50px
                a
                    color: #3a7739
            &:nth-child(5)
                width: 200px
                a
                    color: #e06667
            &:nth-child(6)
                width: 150px
                padding-top: 120px
                a
                    color: #8e7cba

//.twentyTwo merged with .nine

//.twentyThree merged with .ten

//.twentyFour merged with .nine

//.twentyFive merged with .ten
.twentyFive
    text-align: center

//.twentySix merged with .nine

//.twentySeven merged with .ten

//.twentyEight merged with .ten

//.twentyNine merged with .nine

//.thirty merged with .ten

//.thirtyOne merged with .ten
.thirtyOne
    .well
        height: 260px

//.thirtyTwo merged with .ten

.thirtyThree
    overflow: hidden
    .col-md-5
        background: #9FC739 url(../images/thirtyThree-image1.png) no-repeat center 80px
        background-size: contain
        height: 600px
        padding: 0
        position: relative
        h1
            color: #f6eb16
            font-size: 4em
            width: 300px
            margin: 0
            position: absolute
            top: 30px
            left: 40px
            line-height: 1
        p
            position: absolute
            color: white
            font-size: 1.5em
        .top
            width: 150px
            right: 20px
            top: 60px
        .middle
            color: #4E4D4E
            width: 180px
            text-align: center
            top: 240px
            left: 140px
        .bottom
            width: 120px
            bottom: 5px
            text-align: right
            strong
                font-size: 1.5em
    .col-md-7
        padding: 0
        height: 600px
        background: #FFB127
        .top
            background: #6a8ec9 url(../images/thirtyThree-image2.png) no-repeat center
            background-size: contain
            position: relative
            height: 350px
            p
                margin: 0
                position: absolute
                right: 100px
                top: 60px
                width: 220px
                font-size: 1.5em
                text-align: center
                color: #4E4D4E
                strong
                    color: white
                    font-size: 1.3em
                span
                    color: white
            img
                margin: 0 auto
        .bottom
            background: #FFB127 url(../images/thirtyThree-image4.png) repeat center
            height: 250px
            position: relative
            p
                position: absolute
                background: white
                width: 200px
                height: 200px
                border-radius: 200px
                display: block
                text-align: center
                padding: 60px 20px
                font-size: 1.5em
                font-weight: bold
                color: #4E4D4E
                left: 80px
                top: 20px
            img
                position: absolute
                bottom: 10px
                right: 100px
            ul
                list-style-type: none
                padding: 0
                margin: 0
                position: absolute
                right: 83px
                bottom: 15px
                z-index: 1
                li
                    display: inline-block
                    font-size: 1.6em
                    text-align: center
                    width: 70px
                    margin-right: 20px
                    color: #AD770B
                    span
                        color: white
                        margin-bottom: 65px
                        display: block

.thirtyFour,
.thirtyEight,
.thirtyNine,
.fourty,
.fourtyOne,
.secondToTheLast
    background: #9FC739
    padding-top: 20%
    h1
        color: white
        text-align: center
        letter-spacing: 1px

.thirtyFive
    background: #5A96FF url(../images/thirtyFive-pattern.png) repeat center
    position: relative
    h1
        position: absolute
        top: 0
        right: 5px
        font-size: 7em
        color: white
        letter-spacing: 2px
        text-shadow: 4px 3px #2C60BB
        margin: 0
    p
        position: absolute
        background: #FFFF00
        font-size: 1.5em
        padding: 10px 20px
        border-radius: 4px
        z-index: 1
        .arrow
            position: absolute
            width: 0
            height: 0
    img
        position: absolute
        bottom: 10px
        left: 10px
    .canada
        top: 130px
        left: 120px
        .arrow
            border-left: 20px solid transparent
            border-right: 20px solid transparent
            border-top: 20px solid #FFFF00
            bottom: -15px
    .uk
        top: 150px
        left: 340px
        .arrow
            border-left: 20px solid transparent
            border-right: 20px solid transparent
            border-top: 20px solid #FFFF00
            bottom: -15px
    .spain
        top: 270px
        left: 180px
        .arrow
            border-top: 20px solid transparent
            border-bottom: 20px solid transparent
            border-left: 20px solid #FFFF00
            right: -15px
            top: 5px
    .france
        top: 250px
        left: 450px
        .arrow
            border-top: 20px solid transparent
            border-bottom: 20px solid transparent
            border-right: 20px solid #FFFF00
            left: -15px
            top: 5px
    .australia
        font-size: 3em
        right: 245px
        bottom: 240px
        font-weight: bold
        .arrow
            border-left: 40px solid transparent
            border-right: 40px solid transparent
            border-top: 40px solid #FFFF00
            bottom: -20px

.thirtySix
    background: url(../images/thirtySix-bg.png) no-repeat center
    background-size: cover

.thirtySeven
    background: #9FC739 url(../images/thirtySeven-pattern.png) repeat top center
    position: relative
    padding: 20px 40px
    img
        position: absolute
        bottom: 20px
        right: 20px
    h1
        color: white
        font-size: 7em
        font-weight: bold
        margin: 0
    p
        background: url(../images/thirtySeven-coin.png) no-repeat center
        background-size: contain
        color: #754E00
        border-radius: 200px
        text-align: center
        font-size: 1.5em
        line-height: 1.2
        position: absolute
        strong
            display: block
            font-size: 2em
    .coin1
        width: 150px
        height: 150px
        padding: 30px 20px
        left: 60px
        top: 180px
    .coin2
        width: 200px
        height: 200px
        padding: 35px 30px
        left: 300px
        top: 150px
    .coin3
        width: 250px
        height: 250px
        padding: 70px 50px
        left: 130px
        bottom: 30px

//.thirtyEight merged with .thirtyFour
.thirtyEight,
.thirtyNine,
.fourty,
.fourtyOne
    padding: 40px
    position: relative
    background: #9FC739 url(../images/thirtyEight-bg.png) no-repeat center
    background-size: contain
    h1
        font-size: 4em
        margin-bottom: 40px
    table
        font-size: 2em
        border: solid 10px rgba(252,238,33,0.8)
        tr
            &:nth-child(odd)
                background: rgba(255,255,255,0.8)
            &:nth-child(even)
                background: rgba(255,255,255,0.4)
            td
                padding: 10px 40px
    .foot-logo
        position: absolute
        bottom: 40px
        &.pull-right
            right: 40px

//.thirtyNine merged with .thirtyFour & .thirtyEight
.thirtyNine
    background: #9FC739 url(../images/thirtyNine-bg.png) no-repeat center
    background-size: contain

//.fourty merged with .thirtyFour & .thirtyEight
.fourty,
.fourtyOne
    background: #9FC739 url(../images/fourty-bg.png) no-repeat center
    background-size: contain
    font-size: 0.7em
    padding-top: 30px
    .yellowOne
        background: rgba(255,255,0,0.2)
    .yellowTwo
        background: rgba(255,255,0,0.8)
    .greenOne
        background: rgba(179,226,35,0.2)
    .greenTwo
        background: rgba(179,226,35,0.8)
    .blueOne
        background: rgba(41,171,226,0.2)
    .blueTwo
        background: rgba(41,171,226,0.8)

//.fourtyOne merged with .thirtyFour & .thirtyEight & .fourty

//.secondToTheLast merged with .thirtyFour

.last
    background: #9FC739 url(../images/last-bg.png) no-repeat center
    padding-top: 15%
    img
        margin: 0 auto

.regional-stats
    position: relative
    h1,
    h2
        position: absolute
    h1
        top: 20px
        left: 40px
        img
            width: 450px
    h2
        color: #fff
        font-size: 4em
        font-weight: 400
        left: 40px
        top: 170px
